.treearrow {background-image:url("../img/arrow.png") !important;}
.treenoicon {background-image:url("../img/s.gif") !important;}
.script-binary {background-image:url("../img/script-binary.png") !important;}
